[Unit]
Description=Automatic sync edge with cloud
[Timer]
Unit=cloud_sync.service
OnCalendar=*-*-* 05:00:00
# Ensures it runs if the system was down at 5am
Persistent=true
[Install]
WantedBy=timers.target
