[Unit]
Description=Automatic sync edge with cloud
[Timer]
Unit=cloud_sync.service
OnBootSec=15
OnUnitActiveSec=60
AccuracySec=500msec
[Install]
WantedBy=timers.target
